# User agent to use when downloading webpages
user_agent Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_6_6; en-US) AppleWebKit/534.13 (KHTML, like Gecko) Chrome/9.0.597.94 Safari/534.13

# Finds every link on the main page to be scraped
craigslist_links //body/blockquote/p/a

# Finds the link to google maps on a listing page
craigslist_google_maps_link //body/div/small/a

# This will be deleted from the beginning of the google maps link
craigslist_google_maps_link_prefix http://maps.google.com/?q=loc%3A+

# This is the content that will be used as the KML placemark description
craigslist_item_description //div[@id='userbody']